{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Shop Bridge Inventory</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>

   <body>
   <main>
        <!-- Latest Products Start -->
        <section class="latest-product-area">
            <div class="container">
                <div class="row product-btn d-flex justify-content-end align-items-end">
                    <!-- Section Tittle -->
                    <div class="col-xl-4 col-lg-5 col-md-5">
                        <div class="section-tittle mb-30">
                            <h2>Inventories</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="properties__button f-right">
                            <!--Nav Button  -->
                            <nav>                                                                                                
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">




                                    
                                        <div class="login_part_form">
                                            <div class="login_part_form_iner">
                                            
                                                <form class="row contact_form" action="add" method="post" id="form" style="display: none;" enctype='multipart/form-data'>
                                                    {% csrf_token %}
                                                    <div class="col-md-4 form-group p_star">
                                                        <input type="text" class="form-control" name="name" value=""
                                                            placeholder="Name">
                                                    </div>
                                                    <div class="col-md-4 form-group p_star">
                                                        <input type="number" class="form-control" name="price" value=""
                                                            placeholder="Price">
                                                    </div>
                                                    <div class="col-md-4 form-group p_star">
                                                        <div class="creat_account d-flex align-items-center">
                                                            <input type="text" class="form-control" name="description" value=""
                                                            placeholder="Description">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 form-group p_star">
                                                        <label for="img">Upload Image:</label>
                                                        <input type="file" name="img" accept="image/*">
                                                    </div>
                                                    <div class="col-md-4 form-group p_star">
                                                        <button type="submit" value="submit" class="nav-item nav-link" onclick="getElementById('form').style.display='none'; getElementById('button1').style.display = 'block';">
                                                            Add
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    






                                    <button type="button" id="button1" onclick="getElementById('form').style.display = 'block'; style.display='none'" class="nav-item nav-link">Add Inventory</button>
                                    
                                </div>
                            </nav>
                            <!--End Nav Button  -->
                        </div>
                    </div>
                </div>
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            {% for item in inventories %}
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-product mb-60">
                                        <div class="product-img">
                                            <img alt="" src="{{ item.image.url}}"/>
                                        </div>
                                        <div class="product-caption">
                                            <h4><a href="{% url 'show' item.id %}" target="_black">{{ item.name }}</a></h4>
                                            <div class="price">
                                                <ul>
                                                    <li>{{ item.price }}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->

    </main>
  
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <!-- <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script> -->
		<!-- Jquery, Popper, Bootstrap -->
		<!-- <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static './assets/js/popper.min.js' %}"></script>
        <script src="{% static './assets/js/bootstrap.min.js' %}"></script> -->
	    <!-- Jquery Mobile Menu -->
        <!-- <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script> -->

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <!-- <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static './assets/js/slick.min.js' %}"></script> -->

		<!-- One Page, Animated-HeadLin -->
        <!-- <script src="{% static './assets/js/wow.min.js' %}"></script>
		<script src="{% static './assets/js/animated.headline.js' %}"></script>
        <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script> -->

		<!-- Scrollup, nice-select, sticky -->
        <!-- <script src="{% static './assets/js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static './assets/js/jquery.sticky.js' %}"></script> -->
        
       
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static './assets/js/plugins.js' %}"></script>
        <script src="{% static './assets/js/main.js' %}"></script>
         
    </body>
</html>