{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shop Bridge Inventory</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div>
            <div><button type="submit" name="button" id="button1" onclick="toggleForm()">Add Inventory</button></div>
            <div>
                <form method="POST" action="add" id="form" enctype='multipart/form-data'>
                    {% csrf_token %}
                    Name: <input type="text" name="name" ><br>
                    Price: <input type="number" name="price"><br>
                    Description: <input type="text" name="description"><br>
                    <label for="img">Upload Image:</label>
                    <input type="file" id="img" name="img" accept="image/*"><br>
                    <button type="submit" name="submit" id="button2" onclick="toggleForm()">Submit</button>
                </form>
            </div>
        </div>

        <div>
            <table>
                <tr>
                    <!-- <th></th> -->
                    <th>Inventory Name</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
                {% for item in inventories %}
                <tr> 
                    <!-- <td>{{ item. }}</td> -->
                    <!-- <a href="{{ object.myimage.url }}"><img alt="" src="{{ object.myimage.thumbnail.url }}"/></a> -->
                    
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.description }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>